body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#counter,
h3 {
    font-size: larger;
    font-weight: bold;
    color: #666;
}

#counter,
h3,
h1,
form {
    margin: 20px auto;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"],
button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button,
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}

#editForm {
    display: none;
    margin: 20px auto;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #666;
}